<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link href="./main.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <title>Wildlife</title>
</head>
  <h1>Wildlife</h1>
  {{{body}}}
</html>
